{{> Admin_layout}}
<style>
    li{list-style: none}
</style>

<div class="col-lg-12">
    <div class="card-body">
        <table class="table">
            {{#if err }}
                <div class="alert alert-danger col-lg-4" role="alert">
                    <li>{{ err }}</li>
                </div>
            {{/if}}
            {{#if success }}
                <div class="alert alert-success" role="alert">
                    <li>{{ success }}</li>
                </div>
            {{/if}}
            <thead class="thead-dark">
            <tr>
                <th scope="col"><i class="fa fa-list"></i></th>
                <th scope="col">Mã Phim</th>
                <th scope="col">Tập</th>
                <th scope="col">Link phim</th>
                <th scope="col">Ngày Tạo</th>
                <th>Tuỳ chọn</th>
            </tr>
            </thead>
            <tbody>
            {{# each item.episode_order}}
                <tr>
                    <th scope="row">#</th>
                    <td style="display: none">{{this._id}}</td>
                    <td>{{this.chapter_id}}</td>
                    <td>{{this.chapter_num}}</td>
                    <td>{{limit_url this.chapter_url}}</td>
                    <td>{{this.create_at}}</td>
                    <td style="text-align: center">
                        <a href="/admin/editChapter/{{chapter_id}}/{{_id}}/{{listEpisode}}"><i class="fa fa-pencil"></i></a>
                        &nbsp&nbsp&nbsp&nbsp
                        <a onclick="return confirm('Bạn có chắc muốn xóa')" href="/admin/deleteChapter/{{chapter_id}}/{{_id}}/{{listEpisode}}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>{{item.episode_name}}</strong>
        </div>
        <form action="/admin/chapter" method="post" class="form-horizontal">
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="chapter_id" class=" form-control-label">Mã Phim:</label></div>
                    <div class="col-12 col-md-9"><input value="{{item.episode_id}}" type="text" class="form-control" disabled></div>
                </div>
                <input type="text" value="{{item.episode_name_ascii}}" name="episode_name_ascii" hidden>
                <input type="text" value="{{item.episode_id}}" name="chapter_id" hidden>
                <input type="text" value="{{item._id}}" name="_id" hidden>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="chapter_url" class=" form-control-label">Link phim:</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="chapter_url" name="chapter_url" placeholder="Link phim" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="chapter_num" class=" form-control-label">Tập:</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="chapter_num" name="chapter_num" placeholder="vd: 1" class="form-control"></div>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <button type="submit" class="btn btn-primary btn-sm" value="">
                    <i class="fa fa-dot-circle-o"></i> Thêm Tập
                </button>
                <button type="reset" class="btn btn-danger btn-sm" value="">
                    <i class="fa fa-ban"></i> Hủy
                </button>
            </div>
        </form>
    </div>
</div>
{{> Admin_footer}}