<link rel="stylesheet" href="/adminStyle/assets/css/normalize.css">
<link rel="stylesheet" href="/adminStyle/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/adminStyle/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/adminStyle/assets/css/themify-icons.css">
<link rel="stylesheet" href="/adminStyle/assets/css/flag-icon.min.css">
<link rel="stylesheet" href="/adminStyle/assets/css/cs-skin-elastic.css">
<!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
<link rel="stylesheet" href="/adminStyle/assets/scss/style.css">
<link href="/adminStyle/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<script src="/adminStyle/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="/adminStyle/assets/js/plugins.js"></script>
<script src="/adminStyle/assets/js/main.js"></script>

