<style>
    .user-area .user-menu{
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .divider{
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    .back_admin{
        color: black;
        border-radius: 10px;
    }
    /*.nav-link{*/
        /*padding: .0rem 0rem !important;*/
    /*}*/
</style>
<!-- Header-->
<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">
                <button class="search-trigger"><i class="fa fa-search"></i></button>
                <div class="form-inline">
                    <form class="search-form">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                        <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                    </form>
                </div>

                <div class="dropdown for-notification">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="count bg-danger">5</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">
                        <p class="red">You have 3 Notification</p>
                    </div>
                </div>

                <div class="dropdown for-message">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="message"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-email"></i>
                        <span class="count bg-primary">9</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="message">
                        <p class="red">You have 4 Mails</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="/adminStyle/images/admin.jpg" alt="User Avatar">
                </a>
                <ul class="user-menu dropdown-menu">
                    <li class="nav-link"><i class="fa fa- user"></i>
                        <b>{{member.local.email}}</b></li>
                    <li><a href="" class="nav-link"><i class="fa fa -cog"></i>Settings</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="/admin/logout" class="nav-link"><i class="fa fa-power -off"></i>Logout</a></li>
                </ul>
            </div>
            <!--<div class="language-select dropdown" id="language-select">-->
                <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">-->
                    <!--<i class="flag-icon flag-icon-us"></i>-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="language" >-->
                    <!--<div class="dropdown-item">-->
                        <!--<span class="flag-icon flag-icon-fr"></span>-->
                    <!--</div>-->
                    <!--<div class="dropdown-item">-->
                        <!--<i class="flag-icon flag-icon-es"></i>-->
                    <!--</div>-->
                    <!--<div class="dropdown-item">-->
                        <!--<i class="flag-icon flag-icon-us"></i>-->
                    <!--</div>-->
                    <!--<div class="dropdown-item">-->
                        <!--<i class="flag-icon flag-icon-it"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

</header><!-- /header -->
<!-- Header-->