{{> Admin_layout}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:4000/API/202cb962ac59075b964b07152d234b70',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var outt = '';
                var j;
                for (j = 0;j < data.length; j++){
                    outt += '<option selected name="year_id" value="'+ data[j].year_id +'">'+
                            data[j].year_name + '</option>';
                }
                document.getElementById("year_id").innerHTML = outt;
            }
        });
    });
</script>

<script>
    function checkExitInListJson(item,listJson) {
        var obj = JSON.parse(listJson);
        for(var i=0; i<obj.length; i++){
            console.log("cat: " + obj[i].cat_id)
            console.log("item; "+ item)
            if(obj[i].cat_id === item){
                return true;
            }
        }
        return false;
    }


    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:4000/API/f5bb0c8de146c67b44babbf4e6584cc0',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var itemCat = document.getElementById('Item2').value;

                var out = '';
                var i;
                for (i = 0;i < data.length; i++){
                    var isChecked = '';
                    if(checkExitInListJson(data[i].cat_id, itemCat )){
                        isChecked = 'checked';
                    }
                    //check cat
                    var StrID = "Click" + i;
                    out += '<input '+isChecked+' onclick="myFunction()" class="form-check-input" id="'+ StrID +'" ' +
                            'type="checkbox" value="'+ data[i]._id +'">' +
                            data[i].cat_name_title + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                }
                document.getElementById("cat_id").innerHTML = out;
            }
        });
    });
</script>
<script>
    function myFunction() {
        var txt = "";
        var arr = [];
        var click = document.forms[0];
        for (var j = 0; j < click.length;j++){
            var chkCAT = $('#Click'+ j);
            if(chkCAT.is(':checked')){

                // txt = txt +chkCAT.val()+ ",";
                arr.push(chkCAT.val());
            }
        }
        $('#cat_idList').attr('value',arr);
    }
</script>

<style>
    li{list-style: none}
</style>

<input type="text" value="{{item2}}" id="Item2">

<div class="col-lg-10">
    <div class="card">
        <div class="card-header">
            <strong>{{item1.episode_name}}</strong>
        </div>
        <form action="/admin/addMovie?_csrf={{csrfToken}}" method="post" class="form-horizontal"  enctype="multipart/form-data">
            <div class="card-body card-block">
                {{#if success}}
                    <div class="alert alert-danger" role="alert">
                        <li>{{ success }}</li>
                    </div>
                {{/if}}
                {{#if err }}
                    <div class="alert alert-danger" role="alert">
                        <li>{{ err }}</li>
                    </div>
                {{/if}}

                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_id" class=" form-control-label">Mã Phim</label></div>
                    <div class="col-12 col-md-9"><input value="{{item1.episode_id}}" disabled type="text" id="episode_id" name="episode_id" placeholder="Nhập mã phim" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_name" class=" form-control-label">Tên phim</label></div>
                    <div class="col-12 col-md-9"><input value="{{item1.episode_name}}" type="text" id="episode_name" name="episode_name" placeholder="Nhập tên phim" class="form-control"></div>
                </div>
                <!--<div class="row form-group">-->
                    <!--<div class="col col-md-3"><label for="episode_name_ascii" class=" form-control-label">Tên trên Link</label></div>-->
                    <!--<div class="col-12 col-md-9"><input value="{{item1.episode_name_ascii}}" type="text" id="episode_name_ascii" name="episode_name_ascii" placeholder="Tên phim viết không dấu, không cách" class="form-control"></div>-->
                <!--</div>-->
                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_film" class=" form-control-label">Số Tập dự kiến</label></div>
                    <div class="col-12 col-md-9"><input value="{{item1.episode_film}}" type="text" id="episode_film" name="episode_film" placeholder="vd: 12/12 chapter" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_info" class=" form-control-label">Nội dụng</label></div>
                    <div class="col-12 col-md-9"><textarea name="episode_info" id="episode_info" rows="9" placeholder="Nội dung bộ phim" class="form-control">{{item.episode_info}}</textarea></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class=" form-control-label">Năm Phát Hành</label></div>
                    <div class="col-12 col-md-9">
                        <select name="year_id" id="year_id" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Thể loại</label></div>
                    <div class="col col-md-9">
                        <div class="form-check-inline form-check">

                            <input type="text" hidden id="cat_idList" name="cat_idList">
                            <label for="cat_id" class="form-check-label" id="cat_id">
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Inline Radios</label></div>
                    <div class="col col-md-9">
                        <div class="form-check-inline form-check" name="episode_hide">
                            <label for="inline-radio1" class="form-check-label ">
                                <input type="radio" id="inline-radio1" name="episode_hide" value="0" class="form-check-input">Ẩn
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="episode_hide" class="form-check-label ">
                                <input type="radio" id="inline-radio2" name="episode_hide" value="1" class="form-check-input">Hiện
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_back" class=" form-control-label">Ảnh bìa</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="episode_back" name="episode_back" class="form-control-file"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="episode_image" class=" form-control-label">Ảnh Avatar</label></div>
                    <div class="col-12 col-md-9"><input type="file" id="episode_image" name="episode_image" class="form-control-file"></div>
                </div>
            </div>
            <div class="card-footer">
                <!--<input type="hidden" name="_csrf" value="{{csrfToken}}" />-->
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Thêm Phim
                </button>
                <button type="reset" class="btn btn-danger btn-sm" value="">
                    <i class="fa fa-ban"></i> Hủy
                </button>
            </div>
        </form>
    </div>
</div>
{{> Admin_footer}}