<!DOCTYPE html>
<html lang="{{lang}}" dir="{{lang_dir}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page Description">
    <meta name="author" content="Administrator">
    <link href="https://www.gameprivate.com.vn/styles/default/xenforo/favicon.png" rel="shortcut icon" type="image/x-icon" />
    {{> plugins}}
    <title>{{pageTitle}} | {{settings.siteName}}</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body>
{{> navbar}}
<div class="bodyContainer">
    <div class="container">
        <!--<div class="body_style"></div>-->
        {{{body}}}
    </div>
</div>
</body>
</html>