
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="back_view_details page_details">
            <div class="info_details">
                <div class="title_details">
                    <h1 class="h1_title_details">{{viewEpi.episode_name}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="body_style"></div>
                        <div class="movie_meta_info">
                            <div class="info_nd">
                                <div class="jw-video jw-reset">
                                    <video id="player" class="jw-video jw-reset" src="{{viewEpi.episode_order.[0].chapter_url}}" jw-played></video>
                                </div>
                            </div>
                        </div>
                        <div class="play_actions">
                            <ul class="list-inline">
                                <li><a href="" id="" class="previous_ep_btn">
                                    <span class="glyphicon glyphicon-step-forward"></span> Tập Trước.</a>
                                </li>
                                <li><a href="" class="next_ep_btn" onclick="nextEpisodeHand('http://anime47.com/xem-phim-one-piece-dao-hai-tac-ep-002/76749.html');">
                                    <span class="glyphicon glyphicon-step-backward"></span> Tập Tiếp Theo.</a>
                                </li>
                                <li>
                                    <a href="" class="next_ep_btn">
                                        <span class="glyphicon glyphicon-plus"></span> Theo Dõi.
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="movie_meta_info">
                            <div class="info_nd" id="chapNum">

                                    <a href="">
                                        <button type="button" class="btn btn-success btn-xs"></button>
                                    </a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">{{> rank_left}}</div>
</div>
<input type="text" value="{{viewEpi}}" id="JsonMovie" hidden>
<script type="text/javascript" src="http://anime47.com/player/jwplayer/jwplayer.js?v3"></script>
<script type="text/javascript">jwplayer.key="dWwDdbLI0ul1clbtlw+4/UHPxlYmLoE9Ii9QEw==";</script>

<script>
    var dataMovie = document.getElementById('JsonMovie').value;
    console.log("DA: "+dataMovie);
    for(var i = 0; i<dataMovie.length;i++){
         console.log("DATA: "+dataMovie[i]);
    }


    var player = jwplayer('player').setup({
        file: 'https://youtu.be/aDumPLckzY8',
        width: '100%',
        height: 450,
        // autostart: 'true'
    });

    // Listen to an event
    // player.on('pause', (event) => {
    //     alert('Why did my user pause their video instead of watching it?');
    // });

    // Call the API
    var bumpIt = () => {
        var vol = player.getVolume();
        player.setVolume(vol + 10);
    }
    bumpIt();
</script>